---
layout: default
title: Oops
permalink: /404.html
description: A short biography
---

<div class="container">
<div class="row">

<div class="col-12 text-justify" >

    <h1 id="page-title" class="page-title p-name">Oops, the page you were looking for got lost.</h1>


</div>

</div>

</div>
<div class="row">
<div class="col-12">
<h2>Links</h2>
<ul>
    <li><a href="http://wasp-sweden.org/">Wallenberg AI, Autonomous Systems and Software Program (WASP)</a></li>
    <li><a href="https://www.ri.se/">RISE</a></li>
    <li><a href="https://cv.martisak.se/">My personal CV</a></li>
    <li><a href="https://www.kth.se/profile/isaksso">My KTH profile page</a></li>
    <li><a href="https://www.ericsson.com/en/tech-innovation/research">Ericsson Research</a></li>
</ul>
</div>
</div>
</div>