---
layout: collection
---

<div class="entries-{{ page.entries_layout | default: 'list' }}">

  {% for entry in paginator.posts %}
  <article class="entry h-entry">
    <header class="entry-header">
      <h2 class="entry-title p-name">
        {% if entry.link %}
          <a class="u-bookmark-of" href="{{ entry.link }}">{{ entry.title }} <span class="link-arrow">&rarr;</span></a>
        {% else %}
          <a href="{{ entry.url | relative_url }}" rel="bookmark">{{ entry.title }}</a>
        {% endif %}
      </h2>
      <footer class="entry-meta">
        {% if entry.date %}{% include entry-date.html %}&nbsp;{% endif %}
        {%- include readtime.html content=entry.content -%}
      </footer>
    </header>
    <div class="entry-excerpt p-summary">
    {{ entry.excerpt | strip_html }}
    </div>
  </article>
  {% endfor %}

</div>

<!-- pagination -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  <ul>
  {% if paginator.previous_page %}
    <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a></li>
  {% else %}
    <li><a href="/"><span>&laquo;</span></a></li>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <li class="active"><a href="/">{{ page }}</a></li>
    {% elsif page == 1 %}
      <li><a href="/">{{ page }}</a></li>
    {% else %}
      <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a></li>
  {% else %}
    <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a></li>
  {% endif %}
</ul>
</div>
{% endif %}
