<button onclick="topFunction()" id="myBtn" title="Go to top">Back to the top</button>

<script defer>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.opacity = 1;
        document.getElementById("myBtn").style.bottom = "20px";
    } else {
        document.getElementById("myBtn").style.opacity = 0;
        document.getElementById("myBtn").style.bottom = "-200px";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {

  window.scroll({
    top: 0,
    left: 0,
    behavior: 'smooth'
  });

  document.getElementById("myBtn").style.opacity = 0;

}
</script>

<script defer src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
<script defer>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#000"
    },
    "button": {
      "background": "#f1d600"
    }
  },
  "theme": "classic",
  "position": "bottom-right"
})});
</script>

<!-- <script defer src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> -->
<script defer src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js" integrity="sha256-OFRAJNoaD8L3Br5lglV7VyLRf0itmoBzWUoM+Sji4/8=" crossorigin="anonymous"></script>
