
{%- if site.footer_scripts -%}
  {%- for script in site.footer_scripts -%}
    {%- if script contains "://" -%}
      {%- capture script_path %}{{ script }}{% endcapture -%}
    {%- else -%}
      {%- capture script_path %}{{ script | absolute_url }}{% endcapture -%}
    {%- endif -%}
    <script src="{{ script_path }}"></script>
  {%- endfor -%}
{%- else -%}
  <!--<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>-->
  <script src="{{ '/assets/js/main.min.js' | relative_url }}" defer></script>
  <!--<script src="https://use.fontawesome.com/releases/v5.0.12/js/all.js" async></script>-->
  <script src="https://kit.fontawesome.com/31952570fd.js" crossorigin="anonymous"></script>
{%- endif -%}

{% if site.mathjax == true or site.mathjax.enable == true %}
<!-- MathJax -->
{% capture mathjaxjs %}https://cdn.jsdelivr.net/npm/mathjax@3/es5/{{ site.mathjax.combo | default: "tex-svg" }}.js{% endcapture %}
<script defer>
// http://docs.mathjax.org/en/latest/upgrading/v2.html
MathJax = {
  tex: {
      tags: "{{ site.mathjax.tags | default: 'ams' }}"    // eq numbering options: none, ams, all
  },
  options: {
    renderActions: {
      // for mathjax 3, handle <script "math/tex"> blocks inserted by kramdown
      find: [10, function (doc) {
        for (const node of document.querySelectorAll('script[type^="math/tex"]')) {
          const display = !!node.type.match(/; *mode=display/);
          const math = new doc.options.MathItem(node.textContent, doc.inputJax[0], display);
          const text = document.createTextNode('');
          node.parentNode.replaceChild(text, node);
          math.start = {node: text, delim: '', n: 0};
          math.end = {node: text, delim: '', n: 0};
          doc.math.push(math);
        }
      }, '']
    }
  }
}
</script>

<script type="text/javascript" id="MathJax-script" defer src="{{ mathjaxjs }}"></script>
{% endif %}

{%- if page.layout == "search" -%}
  {% include lunr-search-scripts.html %}
{%- endif -%}